@using System.Web.Optimization
@model JD.Portal.Model.Atendimento
@{
    ViewBag.Title = "#" + @Model.ID.ToString() + " - " + @Model.Pessoa.Nome; ;
    ViewBag.Description = "(" + @Model.DataAtendimento.ToString("dd/MM/yyyy") + ")";
}

@section breadcrumb
{
    <ol class="breadcrumb hidden-xs hidden-sm">
        <li><a href="@Url.Action("Index", "Atendimentos")"><i class="fa fa-heart"></i> Atendimentos</a></li>
        <li class="active">Atendimento</li>
    </ol>
}

@{
    int idDiaconoLogado = ((JD.Portal.Model.Diacono)HttpContext.Current.Session["UsuarioLogado"]).ID;

    string classeCor;
    string textoStatus;
    classeCor = Model.Status == false ? "warning" : "primary";
    textoStatus = Model.Status == false ? "Em Aberto" : "Arquivado";

    var listaAtualizacoes = from a in Model.AtualizacoesAtendimentos
                            select new
                            {
                                nomeDiacono = a.Diacono.Nome,
                                dataAtualizacao = a.DataAtualizacao.ToString("dd/MM/yyyy HH:mm"),
                                descricaoAtualizacao = a.DescricaoAtualizacao
                            };

    var listaDiaconosResponsaveis = from d in Model.Diaconos
                                    select new
                                    {
                                        id = d.ID,
                                        nomeDiacono = d.Nome
                                    };

    var listaArquivos = from p in Model.Arquivos
                        select new
                        {
                            id = p.ID,
                            nome = p.Nome.Substring(p.Nome.IndexOf('_') + 1),
                            tamanho = p.TamanhoBytes.ToString(),
                            tipo = p.Tipo,
                            url = "https://portaljd.blob.core.windows.net/portaljd-blob-container/" + p.Nome,
                            dataCriacao = p.DataCriacao.ToString("dd/MM/yyyy HH:mm")
                        };

    string jsonAtualizacoes = Newtonsoft.Json.JsonConvert.SerializeObject(listaAtualizacoes);
    string jsonResponsaveis = Newtonsoft.Json.JsonConvert.SerializeObject(listaDiaconosResponsaveis);
    string jsonArquivos = Newtonsoft.Json.JsonConvert.SerializeObject(listaArquivos);
}

<form name="frmAcompanhamento" ng-app="appAtendimento" ng-init="listaArquivos=@jsonArquivos;listaDiaconosResponsaveis=@jsonResponsaveis;listaAtualizacoes=@jsonAtualizacoes;classeCorBox='box-@classeCor';classeCorDrop='btn-@classeCor';textoStatusAngular='@textoStatus'" ng-controller="controllerAtendimento" ng-submit="atualizarInformacaoAtendimento()">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-9">
            <div class="box" ng-class="classeCorBox">
                <div class="box-header with-border">
                    <h3 class="box-title">Informações do atendimento</h3>

                    <div class="pull-right btn-group">
                        <button type="button" class="btn" ng-class="classeCorDrop">{{textoStatusAngular}}</button>
                        <button type="button" class="btn dropdown-toggle" ng-class="classeCorDrop" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-show="textoStatusAngular != 'Em Aberto'"><a href="/jsondata" ng-click="atualizarStatusAtendimento(@Model.ID, false);$event.preventDefault()">Em Aberto</a></li>
                            <li ng-show="textoStatusAngular != 'Arquivado'"><a href="/jsondata" ng-click="atualizarStatusAtendimento(@Model.ID, true);$event.preventDefault()">Arquivado</a></li>
                        </ul>
                    </div>
                    <input type="hidden" name="idAtendimento" ng-init="atendimento.idAtendimento=@Model.ID;" ng-value="atendimento.idAtendimento" />
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="dados_atendimento col-xs-12 col-md-4 col-lg-3">
                            @*<span class="pull-right label label-@classeCor hidden-md hidden-lg">@textoStatus</span>*@
                            <p><strong><i class="fa fa-map-marker margin-r-5"></i>Endereço</strong></p>
                            <span>@Model.Pessoa.Endereco</span>
                        </div>
                        <div class="dados_atendimento col-xs-12 col-md-4 col-lg-3">

                            <p><strong><i class="fa fa-phone margin-r-5"></i>Contato</strong></p>
                            <span>Telefone Principal: @Model.Pessoa.TelefonePrincipal </span><br />
                            <span>Telefone Secundário: @Model.Pessoa.TelefoneSecundario </span>
                        </div>
                        <div class="dados_atendimento col-xs-12 col-md-4 col-lg-3">
                            @*<span class="pull-right label label-@classeCor hidden-xs hidden-sm hidden-lg">@textoStatus</span>*@

                            <p><strong><i class="fa fa-id-card margin-r-5"></i>Documentos</strong></p>
                            <span>CPF: @Model.Pessoa.CPF</span><br />
                            <span>RG: @Model.Pessoa.RG</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p><strong>Descrição do atendimento</strong></p>
                            <p class="col-xs-12">@Model.Descricao</p>
                        </div>
                    </div>
                </div> @*text-muted well well-sm no-shadow*@
                <div ng-show="listaAtualizacoes.length" class="box-footer box-comments">
                    <div class="box-comment" ng-repeat="atualizacao in listaAtualizacoes">
                        <!-- User image -->
                        <img class="img-circle img-sm" src="~/Content/img/user.jpg" alt="User Image">
                        <div class="comment-text">
                            <span class="username">
                                {{atualizacao.nomeDiacono}}
                                <span class="text-muted pull-right">{{atualizacao.dataAtualizacao}}</span>
                            </span><!-- /.username -->
                            {{atualizacao.descricaoAtualizacao}}
                        </div>
                        <!-- /.comment-text -->
                    </div>
                    <!-- /.box-comment -->
                </div>
                <div ng-show="textoStatusAngular != 'Arquivado'" class="box-footer">
                    <div>
                        <img class="img-responsive img-circle img-sm" src="~/Content/img/user.jpg" alt="Alt Text">
                        <!-- .img-push is used to add margin to elements next to floating images -->
                        <div class="img-push">
                            <textarea class="form-control" rows="3" id="descricaoAtualizacao" name="descricaoAtualizacao" placeholder="Escreva aqui informações adicionais ao atendimento." ng-model="atualizacaoAtendimento.descricao" required></textarea>
                        </div>
                    </div>
                </div>
                <div ng-show="textoStatusAngular != 'Arquivado'" class="box-footer">
                    <button type="submit" name="acaoAcompanhamento" value="salvarInformacoes" class="btn btn-primary col-xs-12 col-sm-6 col-md-3 col-lg-2 ">Salvar informações</button>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-12 col-lg-3">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab">Responsáveis</a></li>
                    <li><a href="#tab_2" data-toggle="tab">Arquivos</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <input type="hidden" name="idDiacono" ng-init="diacono.idDiacono=@idDiaconoLogado;" ng-value="diacono.idDiacono" />
                        <ul class="users-list clearfix">
                            <li ng-repeat="diacono in listaDiaconosResponsaveis">
                                <img src="~/Content/img/user.jpg" alt="User Image">
                                <a class="users-list-name" href="#">{{diacono.nomeDiacono}}</a>
                            </li>
                        </ul>
                        <!-- /.users-list -->
                        <div class="text-center">
                            <a href="#" data-toggle="modal" data-target="#modalDiaconos" class="uppercase">Adicionar/Remover</a>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_2">
                        <ul class="products-list product-list-in-box">
                            <li class="item" ng-repeat="arquivo in listaArquivos">
                                <div>
                                    <a href="{{arquivo.url}}" target="_blank" class="product-title">
                                        {{arquivo.nome}}
                                    </a>
                                    <a href="/jsondata" ng-click="excluirArquivo(arquivo.id);$event.preventDefault()" class="lixeira_anexo">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                    <span class="product-description">
                                        {{arquivo.dataCriacao}} - {{arquivo.tamanho}} bytes
                                    </span>

                                </div>
                            </li>
                            <!-- /.item -->
                        </ul>
                        <div>
                            <input id="upload" type="file" multiple="multiple" ngf-select="UploadFiles($files)" />
                            @*<hr />
                                Files:
                                <ul><li ng-repeat="file in SelectedFiles">{file.name}</li></ul>*@

                            <div class="progress progress-sm active" ng-hide="Progress == 0" ng-init="Progress=0">
                                <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="{{Progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{Progress}}%">
                                    <span class="sr-only">{{Progress}}% Complete (success)</span>
                                </div>
                            </div>
                            @*<div id="dvProgress" class="progress" ng-show="Progress >= 0">
                                </div>*@
                        </div>
                        <div class="text-center">

                            <a id="upload_link" href="" class="uppercase">
                                <i class="fa fa-upload margin-r-5"></i>
                                <span>Novo arquivo</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modalDiaconos" style="display: none;">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">x</span>
                        </button>
                        <h4 class="modal-title">Doáconos</h4>
                    </div>
                    <div class="modal-body rolagem">
                        <ul class="products-list product-list-in-box">
                            <li class="item" ng-repeat="diacono in listaTodosDiaconos">
                                <div class="product-img">
                                    <input type="checkbox" name="chkNovoResponsavel" value="{{diacono.id}}" ng-model="diacono.responsavel" />
                                    <img src="~/Content/img/user.jpg" alt="Product Image" class="img-circle novoresponsavel imagem">
                                </div>
                                <div class="novoresponsavel product-info">
                                    <p class="product-title">
                                        {{diacono.nomeDiacono}}
                                    </p>
                                    <span class="product-description">
                                        Diácono
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary" ng-click="atualizarResponsaveisAtendimento()">Salvar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        @*<div class="col-xs-12">
                <h2 class="page-header">
                    <i class="fa fa-heart"></i> André Stephen
                    <small class="pull-right">Data do Atendimento: 02/10/2018</small>
                </h2>
            </div>*@
    </div>

    @*<div class="row">
            <div class="col-xs-12">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="glyphicon glyphicon-saved margin-r-5"></i>Arquivar atendimento</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <p>Caso não existam mais pendências da Junta Diaconal para esse atendimento, o mesmo pode ser arquivado. Caso haja necessidade, um atendimento arquivado pode ser reaberto a qualquer momento.</p>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" name="acaoAcompanhamento" value="arquivar" class="buttonlink col-xs-12 col-sm-6 col-md-3 col-lg-2">Arquivar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="glyphicon glyphicon-open margin-r-5"></i>Reabrir atendimento</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <p>Esse atendimento está arquivado. Caso haja necessidade de continuar o atendimento, ele pode ser reaberto.</p>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" name="acaoAcompanhamento" value="reabrir" class="btn btn-danger col-xs-12 col-sm-6 col-md-3 col-lg-2">Reabrir</button>
                    </div>
                </div>
            </div>
        </div>*@

</form>


@section  ViewSpecificJavascript
{
    @Scripts.Render("~/Bundles/angular")
    @Scripts.Render("~/Bundles/angular-file-upload")
    @Scripts.Render("~/Bundles/controlleratendimentos")

    <script>
        $(function () {
            $("#upload_link").on('click', function (e) {
                e.preventDefault();
                $("#upload:hidden").trigger('click');
            });
        });
    </script>
}