@using System.Web.Optimization
@model JD.Portal.Model.Atendimento
@{
    ViewBag.Title = "Atendimento";
    ViewBag.Description = "Área de acompanhamento e atualização de informações do atendimento.";
}

@section breadcrumb
{
    <ol class="breadcrumb hidden-xs hidden-sm">
        <li><a href="@Url.Action("Index", "Atendimentos")"><i class="fa fa-heart"></i> Atendimentos</a></li>
        <li class="active">Atendimento</li>
    </ol>
}

@{
    string classeCor;
    string textoStatus;
    classeCor = Model.Status == false ? "danger" : "success";
    textoStatus = Model.Status == false ? "Em Aberto" : "Arquivado";
}

<form action="#" method="post">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-@classeCor">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-heart margin-r-5"></i>#@Model.ID.ToString() - @Model.Pessoa.Nome</h3>
                    <small class="pull-right">@Model.DataAtendimento.ToString("dd/MM/yyyy")</small>
                    <input type="hidden" name="idAtendimento" value="@Model.ID" />
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="dados_atendimento col-xs-12 col-md-4 col-lg-3">
                            <span class="pull-right label label-@classeCor hidden-md hidden-lg">@textoStatus</span>
                            <p><strong><i class="fa fa-map-marker margin-r-5"></i>Endereço</strong></p>
                            <span>@Model.Pessoa.Endereco</span>
                        </div>
                        <div class="dados_atendimento col-xs-12 col-md-4 col-lg-3">

                            <p><strong><i class="fa fa-phone margin-r-5"></i>Contato</strong></p>
                            <span>Telefone Principal: @Model.Pessoa.TelefonePrincipal </span><br />
                            <span>Telefone Secundário: @Model.Pessoa.TelefoneSecundario </span>
                        </div>
                        <div class="dados_atendimento col-xs-12 col-md-4 col-lg-3">
                            <span class="pull-right label label-@classeCor hidden-xs hidden-sm hidden-lg">@textoStatus</span>

                            <p><strong><i class="fa fa-id-card margin-r-5"></i>Documentos</strong></p>
                            <span>CPF: @Model.Pessoa.CPF</span><br />
                            <span>RG: @Model.Pessoa.RG</span>
                        </div>
                        <div class="dados_atendimento responsavel user-block col-xs-12 col-md-12 col-lg-3">
                            @*style="margin-bottom:15px; margin-top:15px"*@
                            <span class="pull-right label label-@classeCor hidden-xs hidden-sm hidden-md">@textoStatus</span>
                            <img class="img-circle img-bordered-sm" src="~/Content/img/user.jpg" alt="User Image">
                            <span class="description">Responsável</span>
                            <span class="username">
                                <a href="#">Diác. André Stephen</a>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p><strong>Descrição do atendimento</strong></p>
                            <p class="col-xs-12">@Model.Descricao</p>
                        </div>
                    </div>
                </div> @*text-muted well well-sm no-shadow*@
                <div class="box-footer box-comments">
                    <div class="box-comment">
                        <!-- User image -->
                        <img class="img-circle img-sm" src="~/Content/img/user.jpg" alt="User Image">

                        <div class="comment-text">
                            <span class="username">
                                Diác. André Stephen
                                <span class="text-muted pull-right">10/10/2017 18:37</span>
                            </span><!-- /.username -->
                            It is a long established fact that a reader will be distracted
                            by the readable content of a page when looking at its layout.
                        </div>
                        <!-- /.comment-text -->
                    </div>
                    <!-- /.box-comment -->
                    <div class="box-comment">
                        <!-- User image -->
                        <img class="img-circle img-sm" src="~/Content/img/user.jpg" alt="User Image">

                        <div class="comment-text">
                            <span class="username">
                                Diác. André Stephen
                                <span class="text-muted pull-right">13/11/2017 09:12</span>
                            </span><!-- /.username -->
                            The point of using Lorem Ipsum is that it has a more-or-less
                            normal distribution of letters, as opposed to using
                            'Content here, content here', making it look like readable English.
                        </div>
                        <!-- /.comment-text -->
                    </div>
                    <!-- /.box-comment -->
                </div>

                @if (Model.Status == false)
                {
                    <div class="box-footer">
                        <div>
                            <img class="img-responsive img-circle img-sm" src="~/Content/img/user.jpg" alt="Alt Text">
                            <!-- .img-push is used to add margin to elements next to floating images -->
                            <div class="img-push">
                                <textarea class="form-control" rows="3" id="Descricao" name="Descricao" placeholder="Escreva aqui informações adicionais ao atendimento."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" name="acaoAcompanhamento" value="salvarInformacoes" class="btn btn-primary col-xs-12 col-sm-6 col-md-3 col-lg-2 pull-right">Salvar informações</button>
                    </div>
                }
            </div>
        </div>
        @*<div class="col-xs-12">
                <h2 class="page-header">
                    <i class="fa fa-heart"></i> André Stephen
                    <small class="pull-right">Data do Atendimento: 02/10/2018</small>
                </h2>
            </div>*@
    </div>

    @if (Model.Status == false)
    {
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="glyphicon glyphicon-saved margin-r-5"></i>Arquivar atendimento</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <p>Caso não existam mais pendências da Junta Diaconal para esse atendimento, o mesmo pode ser arquivado. Caso haja necessidade, um atendimento arquivado pode ser reaberto a qualquer momento.</p>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" name="acaoAcompanhamento" value="arquivar" class="btn btn-success col-xs-12 col-sm-6 col-md-3 col-lg-2">Arquivar</button>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="glyphicon glyphicon-open margin-r-5"></i>Reabrir atendimento</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <p>Esse atendimento está arquivado. Caso haja necessidade de continuar o atendimento, ele pode ser reaberto.</p>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" name="acaoAcompanhamento" value="reabrir" class="btn btn-danger col-xs-12 col-sm-6 col-md-3 col-lg-2">Reabrir</button>
                    </div>
                </div>
            </div>
        </div>
    }
</form>
