
@using System.Web.Optimization
@model List<JD.Portal.Model.Atendimento>

@{
    ViewBag.Title = "Atendimentos";
    ViewBag.Description = "Área de cadastro e consulta dos atendimentos.";
}
@section ViewSpecificStyleSheet
{
    @Styles.Render("~/Bundles/datatablecss")
}

@section mensagem
{

    @{
        var cadastroNovoAtendimentoSucesso = TempData["cadastroNovoAtendimentoSucesso"];
        if (cadastroNovoAtendimentoSucesso != null && (bool)cadastroNovoAtendimentoSucesso == true)
        {
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-check"></i> Sucesso!</h4>
                Novo atendimento cadastrado com sucesso.
            </div>
        }
    }

}

@section breadcrumb
{
    <ol class="breadcrumb hidden-xs hidden-sm">
        <li class="active"><i class="fa fa-heart"></i> Atendimentos</li>
    </ol>
}

<!-- Main content -->
<div class="row">
    <div class="hidden-xs col-sm-6 col-md-4 col-lg-3">
        <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa fa-comment"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Em aberto</span>
                <span class="info-box-number">@ViewBag.atendimentosAbertos.ToString()</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="hidden-xs col-sm-6 col-md-4 col-lg-3">
        <div class="info-box">
            <span class="info-box-icon bg-blue"><i class="fa fa-thumbs-up"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Arquivados</span>
                <span class="info-box-number">@ViewBag.atendimentosArquivados.ToString()</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->


    @*<div class="col-lg-6 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>@ViewBag.atendimentosAbertos.ToString()</h3>
                <p>Atendimentos em aberto</p>
            </div>
            <div class="icon">
                <i class="fa fa-exclamation"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>@ViewBag.atendimentosArquivados.ToString()</h3>
                <p>Atendimentos arquivados</p>
            </div>
            <div class="icon">
                <i class="ion ion-checkmark"></i>
            </div>
        </div>
    </div>*@
</div>
<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Atendimentos registrados</h3>
                <div class="totalizadores_mobile col-xs-12 hidden-sm hidden-md hidden-lg">
                    <span class="label label-warning">@ViewBag.atendimentosAbertos.ToString() Em aberto</span>
                    <span class="label label-primary">@ViewBag.atendimentosArquivados.ToString() Arquivados</span>
                </div>
                <div class="input-group grupo_busca">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input id="txt_busca" type="text" class="form-control" placeholder="Procurar">
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example1" class="table table-condensed" width="100%">
                    <thead>
                        <tr>
                            <th>Nº</th>
                            <th>Nome</th>
                            <th>CPF</th>
                            <th>Atualização</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (JD.Portal.Model.Atendimento atendimento in Model)
                        {
                            string status = atendimento.Status == true ? "Arquivado" : "Em Aberto";
                            string classeStatus = atendimento.Status ? "label-primary" : "label-warning";
                            var idRecemAdicionado = TempData["idRecemAdicionado"];
                            string classeRecemAdicionada = idRecemAdicionado != null && (int)idRecemAdicionado == atendimento.ID ? "recemAdicionado" : "";

                            <tr class="@classeRecemAdicionada">
                                <td>@atendimento.ID.ToString()</td>
                                <td>
                                    <a href="@Url.Action("Acompanhamento", "Atendimentos", new { id = atendimento.ID })">@atendimento.Pessoa.Nome</a>
                                </td>
                                <td>@atendimento.Pessoa.CPF</td>
                                <td>@atendimento.DataAtualizacao.ToString("dd/MM/yyyy HH:mm")</td>
                                <td><span class="label @classeStatus">@status</span></td>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <a href="@Url.Action("NovoAtendimento", "Atendimentos")" class="btn btn-primary btn-block">Cadastrar novo atendimento</a>
                </div>
            </div>
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
<!-- /.content -->

@section  ViewSpecificJavascript
{
    @Scripts.Render("~/Bundles/datatablejs")

    <script>
        $(function () {
            $.fn.dataTable.moment('DD/MM/YYYY HH:mm');//De acordo com a sintaxe do moment, essas letras devem ser em maiusculo mesmo.

            var tabela = $('#example1').DataTable({
                responsive: {
                    details: {
                        //display: $.fn.dataTable.Responsive.display.childRowImmediate,
                        type: 'column',
                        target: -1
                    }
                },
                columnDefs: [{
                    className: 'control',
                    orderable: false,
                    targets: -1
                },
                { responsivePriority: 1, targets: 1 },
                { responsivePriority: 2, targets: 4 },
                { responsivePriority: 3, targets: 0 }],
                order: [3, 'desc'],
                'lengthChange': false,
                "language": {
                    "zeroRecords": "Nenhum registro encontrado",
                    "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros", //"Mostrando _PAGE_ de _PAGES_",
                    "infoEmpty": "Mostrando 0 de 0",
                    "infoFiltered": "",
                    "search": "Procurar",
                    "paginate": {
                        "first": "Primeira",
                        "last": "Última",
                        "next": "Próxima",
                        "previous": "Anterior"
                    }
                }
            });

            $('#txt_busca').on('keyup keypress change', function () {
                tabela.search(this.value).draw();
            });
            //$('#example2').DataTable({
            //  'paging'      : true,
            //  'lengthChange': false,
            //  'searching'   : false,
            //  'ordering'    : true,
            //  'info'        : true,
            //  'autoWidth'   : false
            //})
        });
    </script>

}

