@using System.Web.Optimization

@model JD.Portal.Model.Atendimento
@{
    ViewBag.Title = "Novo atendimento";
    ViewBag.Description = "Área para cadastro de novo atendimento";
}

@section ViewSpecificStyleSheet
{

}

@section breadcrumb
{
    <ol class="breadcrumb hidden-xs hidden-sm">
        <li><a href="@Url.Action("Index", "Atendimentos")"><i class="fa fa-heart"></i> Atendimentos</a></li>
        <li class="active">Novo atendimento</li>
    </ol>
}

@{
    string nome = Model.Pessoa != null ? Model.Pessoa.Nome : "";
    string telefonePrincipal = Model.Pessoa != null ? Model.Pessoa.TelefonePrincipal : "";
    string telefoneSecundario = Model.Pessoa != null ? Model.Pessoa.TelefoneSecundario : "";
    string rg = Model.Pessoa != null ? Model.Pessoa.RG : "";
    string cpf = Model.Pessoa != null ? Model.Pessoa.CPF : "";
    string endereco = Model.Pessoa != null ? Model.Pessoa.Endereco : "";
    string descricao = Model != null ? Model.Descricao : "";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Dados do atendimento</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" action="@Url.Action("NovoAtendimento", "Atendimentos")" method="post" name="frmNovoAtendimento" ng-app="">
                <div class="box-body">
                    <div class="row">
                        <div class="user-block col-xs-12" style="margin-bottom:15px; margin-top:15px">
                            <img class="img-circle img-bordered-sm" src="~/Content/img/user.jpg" alt="User Image">
                            <span class="description">Responsável<small> (Clique para trocar)</small></span>
                            <span class="username">
                                <a href="#">Diác. André Stephen</a>
                            </span>
                            <input type="hidden" name="DiaconoID" value="1" />
                            @{
                                //TODO: Carregar o diácono logado aqui
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="Pessoa_Nome">Nome <span>*</span></label>
                            <input type="text" class="form-control" id="Pessoa_Nome" name="Pessoa.Nome" value="@nome" maxlength="100" placeholder="Digite o nome" ng-model="Pessoa_Nome" ng-init="Pessoa_Nome='@nome'" required>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="Pessoa_CPF">CPF</label>
                            <input type="tel" class="form-control" id="Pessoa_CPF" name="Pessoa.CPF" value="@cpf" placeholder="Digite o CPF" data-inputmask="'mask': '999.999.999-99'" data-inputmask-clearincomplete="true" data-inputmask-showmaskonhover="false" data-inputmask-greedy="true" data-mask>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="Pessoa_RG">RG</label>
                            <input type="text" class="form-control" id="Pessoa_RG" name="Pessoa.RG" value="@rg" placeholder="Digite o RG">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <label for="Pessoa_Endereco">Endereço</label>
                            <input type="text" class="form-control" id="Pessoa_Endereco" name="Pessoa.Endereco" value="@endereco" placeholder="Digite o Endereço">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="Pessoa_TelefonePrincipal">Telefone Principal</label>
                            <input type="tel" class="form-control" id="Pessoa_TelefonePrincipal" name="Pessoa.TelefonePrincipal" value="@telefonePrincipal" placeholder="Digite o telefone principal" data-inputmask="'mask': '(99) 9999-9999[9]'" data-inputmask-clearincomplete="true" data-inputmask-showmaskonhover="false" data-inputmask-greedy="true" data-mask>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="Pessoa_TelefoneSecundario">Telefone Secundário</label>
                            <input type="tel" class="form-control" id="Pessoa_TelefoneSecundário" name="Pessoa.TelefoneSecundario" value="@telefoneSecundario" placeholder="Digite o telefone secundário" data-inputmask="'mask': '(99) 9999-9999[9]'" data-inputmask-clearincomplete="true" data-inputmask-showmaskonhover="false" data-inputmask-greedy="true" data-mask>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <label>Descrição do atendimento<span>*</span></label>
                            <textarea class="form-control" rows="10" id="Descricao" name="Descricao" placeholder="Descreva aqui a necessidade do solicitante e informações relvantes para o atendimento."ng-model="Descricao" ng-init="Descricao='@descricao'" required>@descricao</textarea>
                        </div>
                    </div>
                    @*<div class="form-group">
                            <label for="exampleInputFile">File input</label>
                            <input type="file" id="exampleInputFile">

                            <p class="help-block">Example block-level help text here.</p>
                        </div>*@
                    @*<div class="checkbox">
                            <label>
                                <input type="checkbox"> Check me out
                            </label>
                        </div>*@
                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary col-xs-12 col-sm-6 col-md-3 col-lg-2">Salvar atendimento</button>
                </div>
            </form>
        </div>
    </div>
</div>


@section  ViewSpecificJavascript
{
    @Scripts.Render("~/Bundles/angular")
}