@using System.Web.Optimization
@model JD.Portal.Model.Projeto
@{
    ViewBag.Title = "#" + @Model.ID.ToString() + " - " + @Model.Nome;
    ViewBag.Description = "(" + @Model.DataCriacao.ToString("dd/MM/yyyy") + ")";
}

@section breadcrumb
{
    <ol class="breadcrumb hidden-xs hidden-sm">
        <li><a href="@Url.Action("Index", "Projetos")"><i class="fa fa-thumbs-up"></i> Projetos</a></li>
        <li class="active">Projeto</li>
    </ol>
}

@{
    string textoStatus = Model.Status == (int)JD.Portal.Model.BSProjeto.StatusProjeto.novo ? "Novo" :
                                    Model.Status == (int)JD.Portal.Model.BSProjeto.StatusProjeto.aprovado ? "Aprovado" :
                                    Model.Status == (int)JD.Portal.Model.BSProjeto.StatusProjeto.nao_aprovado ? "Não aprovado" :
                                    Model.Status == (int)JD.Portal.Model.BSProjeto.StatusProjeto.concluido ? "Concluido" :
                                    "";

    string classeCor = Model.Status == (int)JD.Portal.Model.BSProjeto.StatusProjeto.novo ? "warning" :
                          Model.Status == (int)JD.Portal.Model.BSProjeto.StatusProjeto.aprovado ? "success" :
                          Model.Status == (int)JD.Portal.Model.BSProjeto.StatusProjeto.nao_aprovado ? "danger" :
                          Model.Status == (int)JD.Portal.Model.BSProjeto.StatusProjeto.concluido ? "primary" :
                          "";

    var listaAtualizacoes = from a in Model.AtualizacoesProjetos
                            select new
                            {
                                nomeDiacono = a.Diacono.Nome,
                                dataAtualizacao = a.DataAtualizacao.ToString("dd/MM/yyyy HH:mm"),
                                descricaoAtualizacao = a.DescricaoAtualizacao
                            };

    var listaDiaconosResponsaveis = from d in Model.Diaconos
                                    select new
                                    {
                                        id = d.ID,
                                        nomeDiacono = d.Nome
                                    };


    string jsonAtualizacoes = Newtonsoft.Json.JsonConvert.SerializeObject(listaAtualizacoes);
    string jsonResponsaveis = Newtonsoft.Json.JsonConvert.SerializeObject(listaDiaconosResponsaveis);
}

<form name="frmAcompanhamento" ng-app="appProjeto" ng-init="listaDiaconosResponsaveis=@jsonResponsaveis;listaAtualizacoes=@jsonAtualizacoes;classeCorBox='box-@classeCor';classeCorDrop='btn-@classeCor';textoStatusAngular='@textoStatus'" ng-controller="controllerProjeto" ng-submit="atualizarInformacaoProjeto()">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-9">
            <div class="box" ng-class="classeCorBox">
                <div class="box-header with-border">
                    <h3 class="box-title">Informações do projeto</h3>

                    <div class="pull-right btn-group">
                        <button type="button" class="btn" ng-class="classeCorDrop">{{textoStatusAngular}}</button>
                        <button type="button" class="btn dropdown-toggle" ng-class="classeCorDrop" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            @{ int statusNovo = (int)JD.Portal.Model.BSProjeto.StatusProjeto.novo; }
                            <li ng-show="textoStatusAngular != 'Novo'"><a href="/jsondata" ng-click="atualizarStatusProjeto(@Model.ID, @statusNovo);$event.preventDefault()">Novo</a></li>
                            @{ int statusAprovado = (int)JD.Portal.Model.BSProjeto.StatusProjeto.aprovado; }
                            <li ng-show="textoStatusAngular != 'Aprovado'"><a href="/jsondata" ng-click="atualizarStatusProjeto(@Model.ID, @statusAprovado);$event.preventDefault()">Aprovado</a></li>
                            @{ int statusNaoAprovado = (int)JD.Portal.Model.BSProjeto.StatusProjeto.nao_aprovado; }
                            <li ng-show="textoStatusAngular != 'Não aprovado'"><a href="/jsondata" ng-click="atualizarStatusProjeto(@Model.ID, @statusNaoAprovado);$event.preventDefault()">Não Aprovado</a></li>
                            <li class="divider" ng-show="textoStatusAngular != 'Concluido'"></li>
                            @{ int statusConcluido = (int)JD.Portal.Model.BSProjeto.StatusProjeto.concluido; }
                            <li ng-show="textoStatusAngular != 'Concluido'"><a href="/jsondata" ng-click="atualizarStatusProjeto(@Model.ID, @statusConcluido);$event.preventDefault()">Concluido</a></li>
                        </ul>
                    </div>
                    <input type="hidden" name="idProjeto" ng-init="projeto.idProjeto=@Model.ID;" ng-value="projeto.idProjeto" />
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="dados_atendimento col-xs-12 col-md-4 col-lg-3">
                            @*<span class="pull-right label label-@classeCor hidden-md hidden-lg">@textoStatus</span>*@
                            <p><strong><i class="fa fa-institution margin-r-5"></i>Nome do beneficiário</strong></p>
                            <span>@Model.BeneficiarioProjeto.Nome</span>
                        </div>
                        <div class="dados_atendimento col-xs-12 col-md-4 col-lg-3">

                            <p><strong><i class="fa fa-map-marker margin-r-5"></i>Endereço</strong></p>
                            <span>@Model.BeneficiarioProjeto.Endereco</span>
                        </div>
                        <div class="dados_atendimento col-xs-12 col-md-4 col-lg-3">
                            @*<span class="pull-right label label-@classeCor hidden-xs hidden-sm hidden-lg">@textoStatus</span>*@

                            <p><strong><i class="fa fa-id-card margin-r-5"></i>Contato</strong></p>
                            @if (!string.IsNullOrEmpty(Model.BeneficiarioProjeto.NomeContato))
                            {
                                <span>@Model.BeneficiarioProjeto.NomeContato</span><br />
                            }
                            @if (!string.IsNullOrEmpty(Model.BeneficiarioProjeto.EmailContato))
                            {
                                <span>@Model.BeneficiarioProjeto.EmailContato</span><br />
                            }
                            @if (!string.IsNullOrEmpty(Model.BeneficiarioProjeto.TelefonePrincipal))
                            {
                                <span>Telefone Principal: @Model.BeneficiarioProjeto.TelefonePrincipal </span><br />
                            }
                            @if (!string.IsNullOrEmpty(Model.BeneficiarioProjeto.TelefoneSecundario))
                            {
                                <span>Telefone Secundário: @Model.BeneficiarioProjeto.TelefoneSecundario </span>
                            }
                        </div>
                        @*// TODO: Ver o que fazer com essa classe dados_atendimento*@
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p><strong>Descrição do projeto</strong></p>
                            <p class="col-xs-12">@Model.Descricao</p>
                        </div>
                    </div>
                </div> @*text-muted well well-sm no-shadow*@

                @*COLOCAR AQUI AS ATUALIZAÇÕES NO PROJETO*@

                @*@if (Model.AtualizacoesProjetos != null && Model.AtualizacoesProjetos.Count() > 0)
                    {*@
                <div ng-show="listaAtualizacoes.length" class="box-footer box-comments">
                    @*@foreach (JD.Portal.Model.AtualizacaoProjeto atualizacaoProjeto in Model.AtualizacoesProjetos)
                        {*@
                    <div class="box-comment" ng-repeat="atualizacao in listaAtualizacoes">
                        <!-- User image -->
                        <img class="img-circle img-sm" src="~/Content/img/user.jpg" alt="User Image">
                        <div class="comment-text">
                            <span class="username">
                                {{atualizacao.nomeDiacono}}
                                <span class="text-muted pull-right">{{atualizacao.dataAtualizacao}}</span>
                            </span><!-- /.username -->
                            {{atualizacao.descricaoAtualizacao}}
                        </div>
                        <!-- /.comment-text -->
                    </div>
                    <!-- /.box-comment -->
                    @*  }*@
                </div>
                @* } *@

                <div ng-show="textoStatusAngular != 'Concluido'" class="box-footer">
                    <div>
                        <img class="img-responsive img-circle img-sm" src="~/Content/img/user.jpg" alt="Alt Text">
                        <!-- .img-push is used to add margin to elements next to floating images -->
                        <div class="img-push">
                            <textarea class="form-control" rows="3" id="descricaoAtualizacao" name="descricaoAtualizacao" placeholder="Escreva aqui informações adicionais ao projeto." ng-model="atualizacaoProjeto.descricao" required></textarea>
                        </div>
                    </div>
                </div>
                <div ng-show="textoStatusAngular != 'Concluido'" class="box-footer">
                    <button type="submit" name="acaoAcompanhamento" value="salvarInformacoes" class="btn btn-primary col-xs-12 col-sm-6 col-md-3 col-lg-2 ">Salvar informações</button>
                    @*<button type="submit" name="acaoAcompanhamento" value="arquivar" class="buttonlink margem-acompanhamento col-xs-12 col-sm-4 col-md-3 col-lg-2 pull-right"><i class="glyphicon glyphicon-saved margin-r-5"></i>Arquivar atendimento</button>*@
                </div>
            </div>
            @*<div class="col-xs-12">
                    <h2 class="page-header">
                        <i class="fa fa-heart"></i> André Stephen
                        <small class="pull-right">Data do Atendimento: 02/10/2018</small>
                    </h2>
                </div>*@
        </div>

        <div class="col-xs-12 col-md-12 col-lg-3">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab">Responsáveis</a></li>
                    <li><a href="#tab_2" data-toggle="tab">Arquivos</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <input type="hidden" name="idDiacono" ng-init="diacono.idDiacono=@Model.DiaconoID;" ng-value="diacono.idDiacono" />
                        <ul class="users-list clearfix">
                            <li ng-repeat="diacono in listaDiaconosResponsaveis">
                                <img src="~/Content/img/user.jpg" alt="User Image">
                                <a class="users-list-name" href="#">{{diacono.nomeDiacono}}</a>
                            </li>
                        </ul>
                        <!-- /.users-list -->
                        <div class="text-center">
                            <a href="#" data-toggle="modal" data-target="#modalDiaconos" class="uppercase">Adicionar/Remover</a>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_2">
                        <ul class="products-list product-list-in-box">
                            <li class="item">
                                <div>
                                    <a href="javascript:void(0)" class="product-title">
                                        Arquivo 1
                                    </a>
                                    <span class="product-description">
                                        Descrição do  Arquivo 1  Arquivo 1  Arquivo 1  Arquivo 1  Arquivo 1  Arquivo 1  Arquivo 1.
                                    </span>
                                </div>
                            </li>
                            <!-- /.item -->
                            <li class="item">
                                <div>
                                    <a href="javascript:void(0)" class="product-title">
                                        Arquivo 2
                                    </a>
                                    <span class="product-description">
                                        Descrição do  Arquivo 2  Arquivo 2  Arquivo 2  Arquivo 2  Arquivo 2  Arquivo 2  Arquivo 2.
                                    </span>
                                </div>
                            </li>
                            <!-- /.item -->
                            <li class="item">
                                <div>
                                    <a href="javascript:void(0)" class="product-title"> Arquivo 3</a>
                                    <span class="product-description">
                                        Descrição do  Arquivo 3  Arquivo 3  Arquivo 3  Arquivo 3  Arquivo 3  Arquivo 3  Arquivo 3.
                                    </span>
                                </div>
                            </li>
                            <!-- /.item -->
                            <li class="item">
                                <div>
                                    <a href="javascript:void(0)" class="product-title">
                                        Arquivo 4
                                    </a>
                                    <span class="product-description">
                                        Descrição do  Arquivo 4  Arquivo 4  Arquivo 4  Arquivo 4  Arquivo 4  Arquivo 4  Arquivo 4.
                                    </span>
                                </div>
                            </li>
                            <!-- /.item -->
                        </ul>
                        <div class="text-center">
                            <a href="javascript:void(0)" class="uppercase">Adicionar arquivo</a>
                        </div>
                    </div>
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>
        <!-- Modal -->
        <div class="modal fade" id="modalDiaconos" style="display: none;">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">x</span>
                        </button>
                        <h4 class="modal-title">Doáconos</h4>
                    </div>
                    <div class="modal-body rolagem">
                        <ul class="products-list product-list-in-box">
                            <li class="item" ng-repeat="diacono in listaTodosDiaconos">
                                <div class="product-img">
                                    <input type="checkbox" name="chkNovoResponsavel" value="{{diacono.id}}" ng-model="diacono.responsavel"/>
                                    <img src="~/Content/img/user.jpg" alt="Product Image" class="img-circle novoresponsavel imagem">
                                </div>
                                <div class="novoresponsavel product-info">
                                    <p class="product-title">
                                        {{diacono.nomeDiacono}}
                                    </p>
                                    <span class="product-description">
                                        Diácono
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary" ng-click="atualizarResponsaveisProjeto()">Salvar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
</form>


@section  ViewSpecificJavascript
{
    @Scripts.Render("~/Bundles/angular")
    @Scripts.Render("~/Bundles/controllerprojetos")
}