
@using System.Web.Optimization
@model List<JD.Portal.Model.Projeto>

@{
    ViewBag.Title = "Projetos";
    ViewBag.Description = "Acompanhamento do andamento dos projetos de " + @DateTime.Now.Year.ToString();
}
@section ViewSpecificStyleSheet
{
    @Styles.Render("~/Bundles/datatablecss")
}

@section mensagem
{

    @{
        var cadastroNovoProjetoSucesso = TempData["cadastroNovoProjetoSucesso"];
        if (cadastroNovoProjetoSucesso != null && (bool)cadastroNovoProjetoSucesso == true)
        {
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-check"></i> Sucesso!</h4>
                Novo projeto cadastrado com sucesso.
            </div>
        }
    }

}

@section breadcrumb
{
    <ol class="breadcrumb hidden-xs hidden-sm">
        <li class="active"><i class="fa fa-thumbs-up"></i> Projetos</li>
    </ol>
}

<!-- Main content -->
<div class="row">
    <div class="col-lg-2 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>@ViewBag.projetosNovos.ToString()</h3>
                <p>Novos</p>
            </div>
            <div class="icon">
                <i class="fa fa-inbox"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>@ViewBag.projetosEmAprovacao.ToString()</h3>
                <p>Em aprovação</p>
            </div>
            <div class="icon">
                <i class="fa fa-question"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>@ViewBag.projetosAprovados.ToString()</h3>
                <p>Aprovados</p>
            </div>
            <div class="icon">
                <i class="fa fa-check"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>@ViewBag.projetosNaoAprovados.ToString()</h3>
                <p>Não aprovados</p>
            </div>
            <div class="icon">
                <i class="fa fa-times"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-xs-12">
        <!-- small box -->
        <div class="small-box bg-blue">
            <div class="inner">
                <h3>@ViewBag.projetosConcluidos.ToString()</h3>
                <p>Concluidos</p>
            </div>
            <div class="icon">
                <i class="fa fa-thumbs-up"></i>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Projetos registrados</h3>
                <div class="input-group grupo_busca">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input id="txt_busca" type="text" class="form-control" placeholder="Procurar">
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example1" class="table table-condensed nowrap" width="100%">
                    <thead>
                        <tr>
                            <th>Nº</th>
                            <th>Nome</th>
                            <th>Atualização</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (JD.Portal.Model.Projeto projeto in Model)
                        {
                            string status = projeto.Status == (int)JD.Portal.Model.BSProjeto.StatusProjeto.novo ? "Novo" :
                                            projeto.Status == (int)JD.Portal.Model.BSProjeto.StatusProjeto.em_aprovação ? "Em aprovação" :
                                            projeto.Status == (int)JD.Portal.Model.BSProjeto.StatusProjeto.aprovado ? "Aprovado" :
                                            projeto.Status == (int)JD.Portal.Model.BSProjeto.StatusProjeto.nao_aprovado ? "Não aprovado" :
                                            projeto.Status == (int)JD.Portal.Model.BSProjeto.StatusProjeto.concluido ? "Concluido" : 
                                            "";

                            string classeStatus = projeto.Status == (int)JD.Portal.Model.BSProjeto.StatusProjeto.novo ? "label-warning" :
                                                  projeto.Status == (int)JD.Portal.Model.BSProjeto.StatusProjeto.em_aprovação ? "label-info" :
                                                  projeto.Status == (int)JD.Portal.Model.BSProjeto.StatusProjeto.aprovado ? "label-success" :
                                                  projeto.Status == (int)JD.Portal.Model.BSProjeto.StatusProjeto.nao_aprovado ? "label-danger" :
                                                  projeto.Status == (int)JD.Portal.Model.BSProjeto.StatusProjeto.concluido ? "label-primary" :
                                                  "";

                            var idRecemAdicionado = TempData["idRecemAdicionado"];
                            string classeRecemAdicionada = idRecemAdicionado != null && (int)idRecemAdicionado == projeto.ID ? "recemAdicionado" : "";

                            <tr class="@classeRecemAdicionada">
                                <td>@projeto.ID.ToString()</td>
                                <td>
                                    <a href="@Url.Action("Acompanhamento", "Projetos", new { id = projeto.ID })">@projeto.Nome</a>
                                </td>
                                <td>@projeto.DataAtualizacao.ToString("dd/MM/yyyy HH:mm")</td>
                                <td><span class="label @classeStatus">@status</span></td>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <a href="@Url.Action("NovoProjeto", "Projetos")" class="btn btn-primary btn-block">Cadastrar novo projeto</a>
                </div>
            </div>
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
<!-- /.content -->

@section  ViewSpecificJavascript
{
    @Scripts.Render("~/Bundles/datatablejs")

    <script>
        $(function () {
            $.fn.dataTable.moment('DD/MM/YYYY HH:mm');//De acordo com a sintaxe do moment, essas letras devem ser em maiusculo mesmo.

            var tabela = $('#example1').DataTable({
                responsive: {
                    details: {
                        //display: $.fn.dataTable.Responsive.display.childRowImmediate,
                        type: 'column',
                        target: -1
                    }
                },
                columnDefs: [{
                    className: 'control',
                    orderable: false,
                    targets: -1
                },
                { responsivePriority: 1, targets: 1 },
                { responsivePriority: 2, targets: 3 },
                { responsivePriority: 3, targets: 0 }],
                order: [2, 'desc'],
                'lengthChange': false,
                "language": {
                    "zeroRecords": "Nenhum registro encontrado",
                    "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros", //"Mostrando _PAGE_ de _PAGES_",
                    "infoEmpty": "Mostrando 0 de 0",
                    "infoFiltered": "",
                    "search": "Procurar",
                    "paginate": {
                        "first": "Primeira",
                        "last": "Última",
                        "next": "Próxima",
                        "previous": "Anterior"
                    }
                }
            });

            $('#txt_busca').on('keyup keypress change', function () {
                tabela.search(this.value).draw();
            });
            //$('#example2').DataTable({
            //  'paging'      : true,
            //  'lengthChange': false,
            //  'searching'   : false,
            //  'ordering'    : true,
            //  'info'        : true,
            //  'autoWidth'   : false
            //})
        });
    </script>

}